{% extends 'base.html' %}
{% block title %}
John Gunter
{% endblock %}

{% block content %}


<h1 style="animation: flicker 4.5s infinite alternate" class=" ">Resume</h1>
<div class="d-flex ">

    <div class="d-flex flex-column w-25">
        
        <div class="border border-dark border-top-0 rounded-bottom">John Gunter</div>
        <div class="border border-dark border-top-0 rounded-bottom">Lake Oswego, OR</div>
        <div class="border border-dark border-top-0 rounded-bottom">(618)670-5963</div>
        
    </div>
    <div class="d-flex flex-column w-75">
        
        <div class="border border-dark border-top-0 rounded-bottom">box</div>
        <div class="border border-dark border-top-0 rounded-bottom">box</div>
        <div class="border border-dark border-top-0 rounded-bottom">box</div>
        <div class="border border-dark border-top-0 rounded-bottom">box</div>
        
    </div>
    
</div>
{% endblock %}